# ====================
# Environment
# ====================
.env

*.local

# ====================
# Virtual Environment
# ====================
/venv
/.venv
.venv/
venv/

# ====================
# Python
# ====================
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / Packaging
*.egg
*.egg-info/
dist/
build/
eggs/
*.manifest
*.spec
pip-wheel-metadata/

# PyInstaller
*.spec

# Numba cache
__numba_cache__/

# ====================
# IDE / Editor
# ====================
.vscode/
.idea/
*.swp
*.swo
*~
.spyderproject
.spyproject

# ====================
# OS Generated
# ====================
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db

# ====================
# Project Specific
# ====================
res/*
.trash/


# ====================
# Logs
# ====================
*.log
logs/
*.out
